.material-toolbar-background {
  background-color: black;
  color: #ffffff;
}

.logotipoxmen {
  width: auto;
  height: 40px;
}

.dark-layout {
  background-color: rgb(34, 33, 37);
  color: #ffffff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.botonfoot {
  font-size: 15px;
  color: #ffffff;
  border: 0px;
  background-color: black;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.sizeup {
  font-size: 20px;
}

.foot a {
  color: #ffffff;
}

.foot a:hover {
  color: #cccccc;
}
