.img-hover-container {
  position: relative;
}

.card {
  position: relative;
  background-color: transparent;
  border: 0px;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
}

.img-hover-description {
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transform: translateY(0%);

  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  z-index: 99;
  color: #ffffff;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.img-hover-container:hover .img-hover-description {
  transform: translateY(-5%);
  visibility: visible;
}

.title-container {
  text-align: left;
  margin: 0 auto;
}

.title-container h2,
.title-container h5 {
  padding: 0px;
  color: #ffffff;
  margin: 0px;
}

.title-container h5 {
  font-size: 18px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
