<div class="container-fluid p-3">
  <!-- <app-loader-spinner [isLoading]="isLoading"></app-loader-spinner> -->

  <div class="row">
    <div class="col-12"><h2>Create a new Hero</h2></div>
  </div>
  <div class="row mt-2 p-3">
    <div class="col-md-4">
      <app-add-image (imageSelected)="onImageSelected($event)"></app-add-image>
    </div>
    <div class="col-md-8">
      <div class="mb-3">
        <label for="nombre" class="form-label">Name*:</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          [(ngModel)]="newSuperHero.name"
          name="name"
          (input)="capitalizeField($event, 'name'); validateForm()"
        />
      </div>
      <div class="mb-3">
        <label for="originalname" class="form-label">Original name*:</label>
        <input
          type="text"
          class="form-control"
          id="originalname"
          [(ngModel)]="newSuperHero.originalname"
          name="originalname"
          (input)="capitalizeField($event, 'originalname'); validateForm()"
        />
      </div>

      <div class="mb-3 d-flex justify-content-start">
        <div>
          <label for="strength" class="form-label">Strength*:</label>
          <input
            type="number"
            class="form-control"
            id="strength"
            [(ngModel)]="newSuperHero.strength"
            name="strength"
            (input)="validateForm()"
          />
        </div>

        <div class="ms-4">
          <label for="class" class="form-label">Class*:</label>
          <input
            type="text"
            class="form-control"
            id="class"
            [(ngModel)]="newSuperHero.class"
            name="class"
            (input)="capitalizeField($event, 'class'); validateForm()"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description*:</label>
        <textarea
          class="form-control"
          id="description"
          [(ngModel)]="newSuperHero.description"
          name="description"
          (input)="validateForm()"
        ></textarea>
      </div>

      <mat-chip
        class="me-2"
        *ngFor="let power of powers"
        removable="true"
        (removed)="removePower(power)"
      >
        {{ power.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <div class="mb-3 d-flex justify-content-start align-items-center">
        <div>
          <label for="powerName" class="form-label">Power Name:</label>
          <input
            type="text"
            class="form-control"
            id="powerName"
            [(ngModel)]="newPower.name"
            name="powerName"
          />
        </div>
        <div class="ms-2 me-2">
          <label for="powerDescription" class="form-label"
            >Power Description:</label
          >
          <input
            type="text"
            class="form-control"
            id="powerDescription"
            [(ngModel)]="newPower.description"
            name="powerDescription"
          />
        </div>
        <div class="mt-3">
          <app-reusable-button
            aria-label="Add Power"
            class="ms-2"
            buttonColor="warn"
            [buttonPadding]="'2px 15px 0px 15px'"
            (click)="addPower()"
            [disabled]="!newPower.name || !newPower.description"
          >
            Add Power
          </app-reusable-button>
        </div>
      </div>

      <app-reusable-button
        aria-label="Create Hero"
        class="ms-2"
        buttonColor="warn"
        [buttonPadding]="'2px 15px 0px 15px'"
        buttonHexColor="#3dc8ff"
        [disabled]="!isValidForm"
        (click)="createSuperHero()"
      >
        Create Hero
      </app-reusable-button>

      <app-reusable-button
        aria-label="Cancel"
        class="ms-2"
        buttonColor="warn"
        [buttonPadding]="'2px 15px 0px 15px'"
        (click)="cancelCreate()"
      >
        Cancel
      </app-reusable-button>
    </div>
  </div>
</div>
