@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: black !important;
  color: #ffffff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
